// TODO FOLLOE BEM

table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  .container{
    margin: 3rem;
    background-color: white;
    width: 100%;
  }

  th{
    background-color:  rgba(192, 189, 189, 0.12);
  }

 .mat-elevation-z8 {
  box-shadow: none;}

  .right-border {
    padding: 0;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(0,0,0,.12);
 
}

.header{
  background-color: white;
  justify-content: space-between;
  padding:1rem 2rem;

}

.left-padding{
  padding-left: 2rem !important;
}
